<!-- Next Post Footer
–––––––––––––––––––––––––––––––––––––––––––––––––––-->
{% if page.previous %}
<a class="no-decoration fade-in" href="{{ page.previous.url }}">
<div id="footer-container" class="transition fade-in">
  <div class="footer-image transition fade-in" style="background-image: url('{{ page.previous.image }}')"></div>
  <div class="footer-text fade-in">
    <br/><br/>Next Post:<br/><br/>
    <h1 class="date">{{ page.previous.date | date: "%B %-d, %Y" }}</h1>
    <h1 class="title">{{ page.previous.title }}</h1>
  </div>
</div>
</a>
{% else %}
<a class="no-decoration fade-in" href="{{ site.posts.first.url }}">
<div id="footer-container" class="transition fade-in">
  <div class="footer-image transition fade-in" style="background-image: url('{{ site.posts.first.image }}')"></div>
  <div class="footer-text fade-in">
    <br/><br/>Next Post:<br/><br/>
    <h1 class="date">{{ site.posts.first.date | date: "%B %-d, %Y" }}</h1>
    <h1 class="title">{{ site.posts.first.title }}</h1>
  </div>
</div>
</a>
{% endif %}

<!-- Javascript
––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
