<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Kevin Tan">
  <meta name="description" content="A Journal by Kevin Tan">
  <link rel="author" href="https://plus.google.com/+KevinTans/" />
  <link rel="icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <!-- Fonts
  –––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link rel="stylesheet" href="/css/main.css">
  <noscript><link rel="stylesheet" href="/css/main-nojs.css"></noscript>
</head>