---
layout: default
---

<!-- Pagination Links
–––––––––––––––––––––––––––––––––––––––––––––––––––-->
	{% if page.previous %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}">
    <div class="arrow left">
      <div class="diagonal-line"></div>
      <div class="base-line"></div>
      <div class="diagonal-line rotate"></div>
    </div>
  </a>
  {% endif %}

  {% if page.next %}
  <a href="{{ page.next.url | prepend: site.baseurl }}">
    <div class="arrow right">
      <div class="diagonal-line rotate right"></div>
      <div class="base-line"></div>
      <div class="diagonal-line right"></div>
    </div>
  </a>
	{% endif %}

<!-- Post Cover Image
–––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div style="
  background: url('{{ page.image }}') no-repeat center center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  width: 100%;
  height: 650px;
  margin-bottom: -35px;
">
</div>

<!-- Post Container
–––––––––––––––––––––––––––––––––––––––––––––––––––-->
<div class="post-container transition">
  <h1 class="date">{{ page.date | date: "%B %-d, %Y" }}</h1>
  <h1 class="title">{{ page.title }}</h1>
  {{ content }}
</div>

{% include disqus.html %}

